{{!-- 数据格 --}}

<div class="easyui-layout" style="width:100%;height:100%;">
    <div data-options="region:'west',split:true" title="" style="width:300px;">
        <div class="easyui-accordion" data-options="multiple:true" style="width:100%;">
            <div title="分类" data-options="collapsed:false" style="overflow:auto;height:300px;border:0px 0px 0px 0px">
                <table id="goods-cate-dg" style="width:100%;height:250px;border-top:0px;" data-options="singleSelect:true,collapsible:true,method:'get',fit:true,border:false,">
                    <thead>
                        <tr>
                            <th data-options="field:'FartherId', width:35, formatter: fCate">父类</th>
                            <th data-options="field:'CategroyId', width:35, formatter: sCate">子类</th>
                            <th data-options="field:'Description'">类别名称</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div title="品牌" data-options="collapsed:false" style="overflow:auto;height:300px">
                <table id="goods-brand-dg" style="width:100%;height:250px;border-top:0px;" data-options="singleSelect:true,collapsible:true,method:'get',fit:true,border:false,">
                    <thead>
                        <tr>
                            <th data-options="field:'Name'">品牌名称</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div data-options="region:'center',split:true" title="">
        <table id="goods-dg" title="商品管理" style="width:100%;height:250px;border-top:0px;" toolbar="#goods-tbr" data-options="singleSelect:true,collapsible:true,method:'get',fit:true,border:false,">
            <thead>
                <tr>
                    <th data-options="field:'CategoryId',width:150">商品类别编号</th>
                    <th data-options="field:'CategoryDescript',width:150">商品类别</th>
                    <th data-options="field:'BrandId',width:150">品牌编号</th>
                    <th data-options="field:'brandName',width:200">品牌名称</th>
                    <th data-options="field:'GoodsId',width:200">商品编号</th>
                    <th data-options="field:'Name',width:300">商品名称</th>
                    <th data-options="field:'BarCode',width:150">商品条码</th>
                    <th data-options="field:'Subunit',width:60">包装散数</th>
                    <th data-options="field:'Weight',width:60">重量</th>
                    <th data-options="field:'Length',width:60">长</th>
                    <th data-options="field:'Width',width:60">宽</th>
                    <th data-options="field:'Height',width:60">高</th>
                    <th data-options="field:'Volume',width:60">体积</th>
                    <th data-options="field:'Description',width:500">描述</th>
                    <th data-options="field:'ImageId',width:500">图片</th>
                    <th data-options="field:'UsefullLife',width:60">有效期</th>
                    <th data-options="field:'MiniLife',width:60">最小有效期</th>
                    <th data-options="field:'UpdateUser',width:60">更新用户</th>
                    <th data-options="field:'CreateDate',width:150">创建时间</th>
                    <th data-options="field:'UpdateDate',width:150">更新时间</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
{{!-- 工具栏 --}}
<div id="goods-tbr">
    {{!--
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-upload" plain="true" onclick="$('#goods-dlg').dialog('open')">上传结果</a>--}}
    <a id="goods-btn-down" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-download" plain="true">下载结果</a>
    {{!--
    <a id="goods-btn-del" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="delrow()">删除选择</a>--}}
    <span class="datagrid-btn-separator" style="vertical-align: middle;display:inline-block;float:none"></span>
    <input id="goods-txt-goodsId" style="width:90px;height:25px">
    <input id="goods-txt-name" style="width:120px;height:25px">
    <input id="goods-txt-barCode" style="width:120px;height:25px"> {{!--
    <input id="goods-txt-categoryId" style="width:120px;height:25px">
    <input id="goods-txt-brandId" style="width:120px;height:25px">
    <select id="goods-cbb-status" class="easyui-combobox" panelHeight="auto" style="width:100px">
        <option value="-1">选择状态</option>
        <option value="1">1-有效</option>
        <option value="0">0-无效</option>
    </select> --}}
    <a id="goods-btn-search" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search">查询</a>
    <span class="datagrid-btn-separator" style="vertical-align: middle;display:inline-block;float:none"></span>
    <a id="goods-bt-save" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="openDialogAdd()">添加</a>
    <a id="goods-bt-save" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit'" onclick="openDialogEdit()">修改</a>

</div>
{{!-- 数据上下文 --}}
<input id="goods-params" type="hidden" name="referrer" value="{{params}}">
<input id="goods-params2" type="hidden" name="referrer" value="{{params2}}"> {{!-- 表单 --}}
<div id="goods-dlg-add" class="easyui-dialog" title="添加商品" style="width:750px;height:500px;padding:10px" data-options="
                closed: true,
                iconCls: 'icon-add',
                buttons: [{
                    text:'提交',
                    iconCls:'icon-ok',
                    handler:function(){
                        $('#goods-ff-add').submit();
                        
                    }
                },{
                    text:'取消',
                    iconCls:'icon-cancel',
                    handler:function(){
                        $('#goods-dlg-add').dialog('close');
                    }
                }]
            ">
    <form id="goods-ff-add" enctype="multipart/form-data" method="post">
        <table>
            <tr>
                <td>
                    <input id="goods-ff-name" name="name" style="width:300px" class="f1 easyui-textbox" data-options="label:'商品名称:',prompt:'输入商品名称',required:true,validateOnCreate:false,err:err"></input>
                </td>
                <td>
                    <input id="goods-ff-barCode" name="barCode" style="width:300px " class="f1 easyui-textbox " data-options="label:
                        '商品条码:',prompt: '输入商品条码',required:true,validateOnCreate:false,err:err "></input>
                </td>
            </tr>
            <tr>
                <td>
                    <input id="goods-ff-subunit " name="subunit" style="width:300px " class="f1 easyui-textbox
                        " data-options="label: '包装数:',prompt: '输入包装数',required:true,validateOnCreate:false,err:err "></input>
                </td>
                <td>
                    <input id="goods-ff-weight" name="weight" style="width:300px" class="f1 easyui-textbox" data-options="label:'重量:',prompt:'输入重量',required:true,validateOnCreate:false,err:err"></input>
                </td>
            </tr>
            <tr>
                <td>
                    <input id="goods-ff-height" name="height" style="width:300px " class="f1 easyui-textbox " data-options="label:'高度:',prompt:'输入高度',required:true,validateOnCreate:false,err:err "></input>
                </td>
                <td>
                    <input id="goods-ff-volume" name="volume" style="width:300px " class="f1 easyui-textbox
                        " data-options="label: '体积:',prompt: '输入体积',required:true,validateOnCreate:false,err:err "></input>
                </td>
            </tr>
            <tr>
                <td>
                    <input id="goods-ff-usefullLife" name="usefullLife" style="width:300px" class="f1 easyui-textbox" data-options="label:'有效期:',prompt:'输入有效期',required:true,validateOnCreate:false,err:err"></input>
                </td>
                <td>
                    <input id="goods-ff-miniLife" name="miniLife" style="width:300px" class="f1 easyui-textbox" data-options="label:'最小有效期:',prompt:'输入最小有效期',required:true,validateOnCreate:false,err:err"></input>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input name="filename" class="easyui-filebox" labelPosition="top" data-options="lable:'图片:',prompt:'选择图片...'" style="width:100%">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="te" style="width:700px;height:200px"></div>
                    <script>
                        $(function () {
                            $('#te').texteditor({
                                //...
                            });
                        });
                    </script>
                </td>
            </tr>
        </table>
        <input id="goods-ff-brandId" type="hidden" name="brandId" value="">
        <input id="goods-ff-categoryId" type="hidden" name="categoryId" value="">
        <input id="goods-ff-description" type="hidden" name="description" value="">
        <input id="goods-ff-modify" type="hidden" name="modify" value="">
    </form>
</div>

{{!-- 脚本 --}}
<script>

    $('#goods-dg').datagrid({
        url: '',
        pagePosition: 'bottom',
        rownumbers: true,
        singleSelect: true

    });

    $('#goods-cate-dg').datagrid({
        url: '/goods/getcatebf',
        pagePosition: 'bottom',
        singleSelect: true,
        onLoadSuccess: function (data) {
            if (data.total == 0) {
                $(this).datagrid('appendRow', { itemid: '<div style="text-align:center;color:red">没有相关记录！</div>' }).datagrid('mergeCells', { index: 0, field: 'itemid', colspan: 4 })
            }
        }
    });
    $('#goods-brand-dg').datagrid({
        url: '/goods/getbrand?status=1',
        pagePosition: 'bottom',
        singleSelect: true
    });
    $.extend($.fn.textbox.methods, {
        addClearBtn: function (jq, iconCls) {
            return jq.each(function () {
                var t = $(this);
                var opts = t.textbox('options');
                opts.icons = opts.icons || [];
                opts.icons.unshift({
                    iconCls: iconCls,
                    handler: function (e) {
                        $(e.data.target).textbox('clear').textbox('textbox').focus();
                        $(this).css('visibility', 'hidden');
                    }
                });
                t.textbox();
                if (!t.textbox('getText')) {
                    t.textbox('getIcon', 0).css('visibility', 'hidden');
                }
                t.textbox('textbox').bind('keyup', function () {
                    var icon = t.textbox('getIcon', 0);
                    if ($(this).val()) {
                        icon.css('visibility', 'visible');
                    } else {
                        icon.css('visibility', 'hidden');
                    }
                });
            });
        }
    });


    $(function () {

        //-----

        $('#goods-txt-goodsId').textbox({
            prompt: '商品编号',
            icons: [{
                iconCls: 'icon-filter'
            }]
        }).textbox('addClearBtn', 'icon-clear');

        $('#goods-txt-name').textbox({
            prompt: '商品名称',
            icons: [{
                iconCls: 'icon-filter'
            }]
        }).textbox('addClearBtn', 'icon-clear');

        $('#goods-txt-barCode').textbox({
            prompt: '商品条码',
            icons: [{
                iconCls: 'icon-filter'
            }]
        }).textbox('addClearBtn', 'icon-clear');

        $('#goods-txt-categoryId').textbox({
            prompt: '分类编号',
            icons: [{
                iconCls: 'icon-filter'
            }]
        }).textbox('addClearBtn', 'icon-clear');

        $('#goods-txt-brandId').textbox({
            prompt: '品牌编号',
            icons: [{
                iconCls: 'icon-filter'
            }]
        }).textbox('addClearBtn', 'icon-clear');
        //------

        $('#goods-ff-add').form({
            onSubmit: function () {
                $('#goods-ff-description').val($('#te').texteditor('getValue'));

                if ($(this).form('enableValidation').form('validate')) {
                    MaskUtil.mask();
                    return true;
                } else {
                    return false;
                }
            },
            success: function (data) {
                MaskUtil.unmask();
                data = JSON.parse(data);
                $.messager.alert('消息提示:', "<center>" + data[0]["pramResult"] + "</center>");
                if (data[0]['pramCode'] == "1") {
                    $('#goods-ff-add').form('clear');
                     $('#goods-dlg-add').dialog('close');
                    goodsSearch();
                }

            },

        });

        //down
        $("#goods-btn-down").click(function () {
            MaskUtil.mask();
            var params = $('#goods-dg').datagrid("options").queryParams;
            var param = '?';
            for (key in params) {
                param += key + '=' + params[key] + '&';
            }
            param += 'a=1'

            url = "/down/goods" + param;
            $.get(url, function (result) {
                $.messager.alert('结果已生成', result);
                MaskUtil.unmask();
            });

        })
        //end down
        //search
        $("#goods-btn-search").click(
            function () {
                goodsSearch();
            }
        );
        //end search
        ///save
        //down
        ///end save
    });

    function goodsSearch() {

        $('#goods-dg').datagrid({
            url: '/goods/getgoods'
        });
        $('#goods-dg').datagrid('load', {
            goodsId: $('#goods-txt-goodsId').textbox('getValue'),
            name: $('#goods-txt-name').textbox('getValue'),
            barCode: $('#goods-txt-barCode').textbox('getValue'),
            categoryId: $('#goods-cate-dg').datagrid('getSelected').CategroyId,
            brandId: $('#goods-brand-dg').datagrid('getSelected').BrandId
        });
    }

    function formatField(value, row, index, n1, n2) {
        return (row[n1] ? (row[n1][n2] ? row[n1][n2] : "") : '');

    }

    //---------------
    function getRows() {
        var categroyId = $('#goods-cate-dg').datagrid('getSelected') ? $('#goods-cate-dg').datagrid('getSelected').CategroyId : -1;
        var brandId = $('#goods-brand-dg').datagrid('getSelected') ? $('#goods-brand-dg').datagrid('getSelected').BrandId : -1;
        var modify = $("#goods-ff-modify").val();
        if (modify == "0") {
            if (categroyId == -1) {
                $.messager.alert("提示", "请选择分类！");
                return false;
            }
            if (brandId == -1) {
                $.messager.alert("提示", "请选择品牌！");
                return false;
            }
        }
        return true;
        $('#goods-ff-categoryId').val(categroyId);
        $('#goods-ff-brandId').val(brandId);
    }

    ///添加商品
    function openDialogAdd() {
        $("#goods-ff-modify").val(0);
        $('#goods-ff-add').form({
            url: '/goods/addgoods',
        });
        var params = $('#goods-dg').datagrid("options").queryParams;
        if (!getRows()) {
            return false;
        }
        $('#goods-dlg-add').dialog({
            modal: true,
            title: '添加商品'
        }).dialog('open');
    }
    //修改商品
    function openDialogEdit() {
        var row = $('#goods-dg').datagrid('getSelected');
        $('#goods-ff-description').val(row.Description);
        $('#te').texteditor('setValue', row.Description);
        $("#goods-ff-brandId").val(row.BrandId);
        $("#goods-ff-categoryId").val(row.CategoryId);
        $("#goods-ff-modify").val(1);


        if (!row) {
            $.messager.alert('提示', '<center>请选择一个商品!</center>');
        }
        $('#goods-ff-add').form({
            url: '/goods/editgoods',
        });

        $('#goods-ff-add').form('load', {
            barCode: row.BarCode,
            name: row.Name,
            subunit: row.Subunit,
            weight: row.Weight,
            height: row.Height,
            volume: row.Volume,
            usefullLife: row.UsefullLife,
            miniLife: row.MiniLife
        });

        $('#goods-dlg-add').dialog({
            title: '修改商品'
        }).dialog('open');
    }
    var fid = 0;

    function fCate(value, row, index) {
        return "<a href='javascript:loadCate(" + fid + ")'>父类</a>";
    }
    function sCate(value, row, index) {
        fid = row.FartherId;
        fid = fid ? fid : 0;
        var cid = row.CategroyId ? row.CategroyId : 0;
        var cname = cid == 0 ? "根类" : "子类";
        return "<a href='javascript:loadCate(" + cid + ")'>" + cname + "</a>";
    }

    function loadCate(id) {
        $('#goods-cate-dg').datagrid('load', {
            fartherId: id,

        });
    }


</script>